src/processing/speed_experiments/data/data_set_train_with_out_pau.csv
src/processing/speed_experiments/data/data_set_train_with_pau.csv
src/processing/mean_speed_experiments/data/charsiu_<charsiu.src.Charsiu.charsiu_chain_attention_aligner object at 0x7cfd7df182e0>_test.csv
src/processing/mean_speed_experiments/data/charsiu_<charsiu.src.Charsiu.charsiu_chain_attention_aligner object at 0x7cfd7df182e0>_train.csv
src/processing/mean_speed_experiments/data/charsiu_<charsiu.src.Charsiu.charsiu_chain_forced_aligner object at 0x7cfd7df194e0>_test.csv
src/processing/mean_speed_experiments/data/charsiu_<charsiu.src.Charsiu.charsiu_chain_forced_aligner object at 0x7cfd7df194e0>_train.csv
